@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  border-color: transparent;
  outline-color: transparent;
}

:root {
  /* ===== fonts ===== */
  --first-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  /* ===== fonts color ===== */
  --primary-text-color: #757575;
  --accent-text-color: #2196f3;
  --headers-text-color: #212121;
  --button-text-color-one: #fff;
  --mission-label-text: #fff;
  --footer-titles-color: #fff;
  --portfolio-overlay-text-color: #fff;
  /* ===== BG colors ===== */
  --background-body: #fff;
  --background-section-one: #fff;
  --background-section-two: #f5f4fa;
  --background-color-hero: #c4c4c4;
  --background-footer: #2f303a;
  --background-hero-modal: #ffffff;
  /* ===== hero & footer button colors ===== */
  --button-background-color: #2196f3;
  --button-hover-color: #188ce8;
  --button-active-color: #188ce8;
  --modal-close-btn-color: #ffffff;
  /* ===== logo color ===== */
  --logo-color-one: #2196f3;
  --logo-color-two: #000000;
  --logo-color-three: #fff;
  /* ===== hero gradient colors ===== */
  --hero-gradient-color-one: rgba(47, 48, 58, 0.4);
  --hero-gradient-color-two: rgba(47, 48, 58, 0.4);
  /* ===== fil svg icons color ===== */
  --fill-svg-icons: #afb1b8;
  --fill-footer-socials: #fff;
  /* ===== transition propertys ===== */
  --time-transition: 250ms;
  --function-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --delay-transition: 100ms;
  --transition-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* ===== other ===== */
  --zindex-header: 500;
  --zind-hero-modal: 1000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* === ANIMATION FOOTER inpit === */
@-webkit-keyframes changeBgColor {
  0% {
    border-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    border-color: var(--accent-text-color);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.3);
  }
}
@keyframes changeBgColor {
  0% {
    border-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    border-color: var(--accent-text-color);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.3);
  }
}
.slider-section {
  position: relative;
  width: 100%;
  max-width: 1600px;
  background-color: var(--background-color-hero);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .slider-section {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .slider-section {
    display: none;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .slider-section {
    display: block;
    width: 768px;
    padding-top: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .slider-section {
    width: 100%;
    padding-top: 90px;
  }
}

.slider__over {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
.slick-arrow.slick-prev {
  border-color: transparent;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  border-color: transparent;
}

/* Стрелка не активная */
/* Точки */
/* Конкретный слайдер */
.slider {
  position: relative;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 15px;
  background: url("../images/slider/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 15px;
  background: url("../images/slider/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 15px;
  background-color: gray;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid gray;
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-body);
}

.btn, .modal__send-button, .hero__button, .footer-button-subscribe {
  font-family: inherit;
  cursor: pointer;
  border: none;
  display: inline-block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-text-color-one);
  background-color: var(--button-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
.btn:hover, .modal__send-button:hover, .hero__button:hover, .footer-button-subscribe:hover, .btn:focus, .modal__send-button:focus, .hero__button:focus, .footer-button-subscribe:focus {
  background-color: var(--button-hover-color);
}
.btn:active, .modal__send-button:active, .hero__button:active, .footer-button-subscribe:active {
  background-color: var(--button-active-color);
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  color: var(--headers-text-color);
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .section-title {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    padding-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 20;
}

.header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  font-family: "Raleway", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  margin-right: 94px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__text-one {
  color: var(--logo-color-one);
}

.logo__text-two {
  color: var(--logo-color-two);
}

.header__logo-img {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--headers-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.nav__link.current::after, .nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .nav__link.current::after, .nav__link:hover::after, .nav__link:focus::after {
    opacity: 0;
  }
}
.nav__link.current {
  color: var(--accent-text-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}
.nav__link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-text-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

.contacts__list {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 1200px) {
  .contacts__icon {
    display: block;
  }
}

.footer {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-color-one)), to(var(--hero-gradient-color-two))), url(../images/bg/bg1_wood.jpg);
  background-image: linear-gradient(to right, var(--hero-gradient-color-one), var(--hero-gradient-color-two)), url(../images/bg/bg1_wood.jpg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--flex {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

/* = footer logo = */
.footer__logo {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-logo__link {
  display: block;
  font-family: "Raleway", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .footer-logo__link {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footer_logo-img {
  opacity: 0.7;
}
@media screen and (max-width: 1199px) {
  .footer_logo-img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer_logo-img {
    margin-left: 0;
    margin-right: 0;
  }
}

.logo__text-two--white {
  color: var(--logo-color-three);
}

/* = footer__address = */
.footer__address {
  width: 100%;
  font-style: normal;
  margin-top: 20px;
}

.address__list {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.address__map {
  line-height: 1.71;
  color: #ffffff;
}
.address__map:hover, .address__map:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .address__email,
.address__tel {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__address .address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__email:hover,
.address__tel:hover,
.address__email:focus,
.address__tel:focus {
  color: #ffffff;
}

.address__map,
.address__email,
.address__tel {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

/* = footer__soc-networks = */
.footer__soc-networks {
  display: none;
  width: 206px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .footer__soc-networks {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.soc-networks__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--footer-titles-color);
  margin-bottom: 20px;
}

.soc-networks__link--background {
  background: rgba(255, 255, 255, 0.1);
}

.soc-networks__img--fill {
  fill: var(--fill-footer-socials);
}

/* === footer__subscribe === */
.footer__subscribe {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: auto;
  }
}

.subscribe__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--footer-titles-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-subscribe--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-subscribe--position {
  position: relative;
  overflow: hidden;
}

.form-subscribe__email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0;
  padding-left: 12px;
  margin-right: 12px;
  -webkit-transition-property: border-color background-color;
  transition-property: border-color background-color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
@media screen and (min-width: 768px) {
  .form-subscribe__email-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__email-input {
    width: 358px;
  }
}

.form-subscribe__label {
  position: absolute;
  top: 50%;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  /* поднимает form__label и не опускает если показывает значение placeholder */
}

.form-subscribe__email-input:not(:-moz-placeholder-shown) + .form-subscribe__label {
  transform: translate(0, -50px);
}

.form-subscribe__email-input:not(:-ms-input-placeholder) + .form-subscribe__label {
  transform: translate(0, -50px);
}

.form-subscribe__email-input:focus + .form-subscribe__label,
.form-subscribe__email-input:not(:placeholder-shown) + .form-subscribe__label {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}

.form-subscribe__email-input:hover + .form-subscribe__label {
  color: #757575;
}

.form-subscribe__email-input:hover {
  -webkit-animation-name: changeBgColor;
          animation-name: changeBgColor;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background-color: #fff;
}

.form-subscribe__email-input:focus {
  background-color: #fff;
  outline: transparent;
  color: #000000;
}

.footer-button-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: var(--primary-text-color);
  background-color: var(--background-footer);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.footer-button-subscribe:hover, .footer-button-subscribe:focus {
  color: var(--button-text-color-one);
  background-color: var(--background-footer);
}
.footer-button-subscribe:active {
  color: var(--primary-text-color);
  background-color: var(--background-footer);
}
@media screen and (min-width: 1200px) {
  .footer-button-subscribe {
    margin: 0;
  }
}

/* Dropdown Button */
.dropbtn {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 260px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.hero {
  width: 100%;
  max-width: 1600px;
  padding-top: 118px;
  background-color: var(--background-color-hero);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero--overlay {
  width: 100%;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-color-one)), to(var(--hero-gradient-color-two))), url(../images/hero/slider/1.webp);
  background-image: linear-gradient(to right, var(--hero-gradient-color-one), var(--hero-gradient-color-two)), url(../images/hero/slider/1.webp);
}
@media screen and (min-width: 480px) {
  .hero--overlay {
    width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    width: 1600px;
    height: 600px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-color-one)), to(var(--hero-gradient-color-two))), url(../images/hero/slider/1.webp);
    background-image: linear-gradient(to right, var(--hero-gradient-color-one), var(--hero-gradient-color-two)), url(../images/hero/slider/1.webp);
  }
}
@media screen and (min-width: 769px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-color-one)), to(var(--hero-gradient-color-two))), url(../images/hero/slider/1.webp);
    background-image: linear-gradient(to right, var(--hero-gradient-color-one), var(--hero-gradient-color-two)), url(../images/hero/slider/1.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-color-one)), to(var(--hero-gradient-color-two))), url(../images/hero/slider/1.webp);
    background-image: linear-gradient(to right, var(--hero-gradient-color-one), var(--hero-gradient-color-two)), url(../images/hero/slider/1.webp);
  }
}
@media screen and (min-width: 1201px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-color-one)), to(var(--hero-gradient-color-two))), url(../images/hero/slider/1.webp);
    background-image: linear-gradient(to right, var(--hero-gradient-color-one), var(--hero-gradient-color-two)), url(../images/hero/slider/1.webp);
  }
}
@media screen and (min-width: 1201px) and (min-device-pixel-ratio: 2), screen and (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1201px) and (min-resolution: 192dpi), screen and (min-width: 1201px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-color-one)), to(var(--hero-gradient-color-two))), url(../images/hero/slider/1.webp);
    background-image: linear-gradient(to right, var(--hero-gradient-color-one), var(--hero-gradient-color-two)), url(../images/hero/slider/1.webp);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    width: 216px;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.benefits__item {
  display: block;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .benefits__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .benefits__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    margin-bottom: 0px;
  }
}

.benefits__link {
  display: block;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--background-section-two);
}
@media screen and (min-width: 1200px) {
  .benefits__link {
    width: 270px;
    height: 120px;
  }
}

.benefits__tagline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--headers-text-color);
  margin-bottom: 10px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .benefits__tagline {
    text-align: center;
  }
}

.benefits__features {
  line-height: 1.71;
  color: var(--primary-text-color);
}

.mission-section {
  padding-top: 0x;
  background-color: var(--background-section-two);
}
@media screen and (min-width: 1200px) {
  .mission-section {
    display: block;
  }
}

.mission__about {
  display: none;
}
@media screen and (min-width: 768px) {
  .mission__about {
    display: block;
  }
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.mission__item--position {
  position: relative;
}
@media screen and (min-width: 768px) {
  .mission__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .mission__item {
    width: calc((100% - 90px) / 4);
  }
}

.mission__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--mission-label-text);
  background: rgba(47, 48, 58, 0.7);
}

.soc-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-networks {
  margin-bottom: 30px;
}

.soc-networks__item:not(:last-child) {
  margin-right: 10px;
}

.soc-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--fill-svg-icons);
  border-radius: 50%;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

.soc-networks__img {
  fill: currentColor;
}

.soc-networks__link:hover,
.soc-networks__link:focus {
  background-color: var(--accent-text-color);
  color: #fff;
}

.team-section {
  display: none;
  background-color: var(--background-section-two);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
  .team-section_title {
    font-size: 28px;
  }
}

.team__item {
  display: inline-block;
}
.team__item--border-bg-shadow {
  background-color: var(--background-section-one);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 768px) {
  .team__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__img {
  margin-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--headers-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.clients-section-title {
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 1200px) {
  .clients-section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--fill-svg-icons);
  border: 1px solid currentColor;
  border-radius: 4px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients__logo {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* backdrop-filter: blur(2px);   свойство блюр*/
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

.modal {
  position: absolute;
  /* === центровка модального окна ===  */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(1);
          transform: translate(-50%, -50%) scaleY(1);
  z-index: var(--zind-hero-modal);
  padding: 40px 40px;
  background: var(--background-hero-modal);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: scale, -webkit-transform;
  transition-property: scale, -webkit-transform;
  transition-property: transform, scale;
  transition-property: transform, scale, -webkit-transform;
  -webkit-transition: var(--transition-standart), var(--transition-standart);
  transition: var(--transition-standart), var(--transition-standart);
  /* transform-origin: center; */
}
@media screen and (max-width: 1200px) {
  .modal {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleY(0.1);
          transform: translate(-50%, -50%) scaleY(0.1);
}

/* === close button === */
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: var(--transition-standart);
  transition: var(--transition-standart);
}

.modal-close-btn:hover {
  fill: var(--accent-text-color);
}

/* --- inputs --- */
.modal-window-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--headers-text-color);
  margin-bottom: 12px;
}

.form-group-one {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  font: inherit;
  font-size: 16px;
  line-height: 1.71;
  color: var(--headers-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color, color, -webkit-transform;
  transition-property: border-color, color, -webkit-transform;
  transition-property: border-color, color, transform;
  transition-property: border-color, color, transform, -webkit-transform;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-text-color);
  outline: transparent;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: var(--transition-standart);
  transition: var(--transition-standart);
}

/* ==== новій способ не работает hover === */
/* .form-field:focus-within > .form-icon {
  fill: var(--accent-text-color);
} */
/* === old school === */
.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--accent-text-color);
}

.form-field-comment {
  position: relative;
  display: block;
}

.form-comment {
  width: 100%;
  height: 120px;
  margin: 0;
  font: inherit;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition: var(--transition-standart);
  transition: var(--transition-standart);
}

.form-comment:hover,
.form-comment:focus {
  border-color: var(--accent-text-color);
  outline: transparent;
}

.form-comment-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: var(--transition-standart);
  transition: var(--transition-standart);
}

.form-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -moz-transition-property: color;
  transition-property: color;
  -moz-transition: var(--transition-standart);
  transition: var(--transition-standart);
}

.form-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -ms-transition-property: color;
  transition-property: color;
  -ms-transition: var(--transition-standart);
  transition: var(--transition-standart);
}

.form-comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -ms-transition-property: color;
  transition-property: color;
  -ms-transition: var(--transition-standart);
  transition: var(--transition-standart);
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: var(--transition-standart);
  transition: var(--transition-standart);
}

.form-comment:hover::-webkit-input-placeholder {
  color: var(--headers-text-color);
}

.form-comment:hover::-moz-placeholder {
  color: var(--headers-text-color);
}

.form-comment:hover:-ms-input-placeholder {
  color: var(--headers-text-color);
}

.form-comment:hover::-ms-input-placeholder {
  color: var(--headers-text-color);
}

.form-comment:hover::placeholder {
  color: var(--headers-text-color);
}

.form-group-two {
  text-align: center;
}

.checkbox-label {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.form-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* === скрыть чек-бокс === */
  /*=== №1 appearance: none и вендорные префиксы ===*/
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
  /* === №2  .visually-hidden ==== */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* ============================ */
}

.checkbox-icon {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid var(--headers-text-color);
  border-radius: 2px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
  cursor: pointer;
}

.form-checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../images/modal/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 23px;
}
@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
  }
}

.checkbox-text-link {
  color: #2196f3;
}

.form-checkbox {
  margin-bottom: 30px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
  overflow: scroll;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-text-color);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--background-body);
  border: 1px solid gray;
  border-radius: 10px;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-nav__list {
  padding: 10px;
  margin-bottom: auto;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 15px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--headers-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
.menu-nav__link.current {
  color: var(--accent-text-color);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-text-color);
}

.menu-address {
  margin-bottom: 64px;
}

.menu-socnetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.menu-socnetworks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.menu-socnetworks__link:hover, .menu-socnetworks__link:focus {
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

.menu-socnetworks__line {
  width: 22px;
  height: 0px;
  left: 135px;
  top: 726px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-address__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-address__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.menu-address__tel:hover, .menu-address__tel:focus {
  color: #757575;
}

.menu-address__email {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu-address__email:hover, .menu-address__email:focus {
  color: #2196f3;
}

.menu-address__email,
.menu-address__tel {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

.portfolio_filter {
  background-color: var(--background-section-two);
  padding-top: 90px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item:not(:last-of-type) {
  margin-right: 8px;
}

.filter__button {
  width: auto;
  height: 38px;
  padding: 6px 15px;
  margin-bottom: 15px;
  border: 1px solid gray;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-footer);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button:hover, .filter__button:focus {
  color: var(--button-text-color-one);
  background-color: var(--background-footer);
}
@media screen and (min-width: 768px) {
  .filter__button {
    margin-bottom: 0;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__group-title {
  padding-top: 0;
}
@media screen and (max-width: 767px) {
  .portfolio__group-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__group-title {
    font-size: 28px;
  }
}

.portfolio__item {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay-text, .portfolio__link:focus .portfolio__overlay-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__overlay-box {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.portfolio__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--portfolio-overlay-text-color);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

.portfolio__client-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers-text-color);
  margin-bottom: 4px;
}

.portfolio__box-two {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio__chapter {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

/* Center website */
.portfolio__facades {
  padding-top: 185px;
}

.portfolio__facades p {
  text-align: center;
}

.portfolio__facades h4 {
  text-align: center;
}

.portfolio__header-fixed {
  position: fixed;
  top: 0;
  left: 15px;
  padding-top: 90px;
}

.portfolio__header-fixed h2 {
  margin-bottom: 15px;
}

.main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main h2 {
  padding: 0;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.facades__filter {
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  display: none; /* Hide all elements by default */
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media only screen and (min-width: 768px) {
  .column {
    width: 33.3333333333%;
  }
}
@media only screen and (min-width: 1200px) {
  .column {
    width: 25%;
  }
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn, .footer-button-subscribe, .hero__button, .modal__send-button {
  cursor: pointer;
}

.btn:hover, .footer-button-subscribe:hover, .hero__button:hover, .modal__send-button:hover {
  background-color: #ddd;
}

.btn.active, .active.footer-button-subscribe, .active.hero__button, .active.modal__send-button {
  background-color: #666;
  color: white;
}

.section__technology {
  padding-top: 90px;
}

.section__technology h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.section__technology h2 {
  margin: 15px 0;
  padding: 15px;
  color: #fff;
  background-color: gray;
}

.section__technology span {
  color: black;
}

.howto__description {
  text-align: justify;
  -webkit-columns: 2 400px;
     -moz-columns: 2 400px;
          columns: 2 400px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  height: 400px;
  -webkit-column-fill: auto;
     -moz-column-fill: auto;
          column-fill: auto;
}/*# sourceMappingURL=main.css.map */