// utils styles
@import '../sass/utils/utils';

// base styles
@import '../sass/base/base';

// layout styles
@import '../sass/layout/layout';

// components styles INDEX page
@import '../sass/components/index/index-page';

// components styles PORTFOLIO page
@import '../sass/components/portfolio/portfolio_page';
