.logo {
  display: block;

  font-family: 'Raleway', cursive;
  font-style: normal;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  text-decoration: none;

  margin-right: 30px;

  padding-top: 16px;
  padding-bottom: 16px;


  @media screen and (min-width: 768px) {
  margin-right: 30px;
}

@media screen and (min-width: 1200px) {
  margin-right: 94px;
}
}

.logo__text-one {
  color: var(--logo-color-one);
}

.logo__text-two {
  color: var(--logo-color-two);
}

.header__logo-img {
  opacity: 0.8;
}
