.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  // @media screen and (max-width: 768px) {
  //   font-weight: 500;
  //   font-size: 40px;
  //   line-height: 1.175;
  //   letter-spacing: 0.02em;
  // }

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  color: var(--headers-text-color);

  transition-property: color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);

  &.current::after,
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &.current::after,
  &:hover::after,
  &:focus::after {
    @media screen and (max-width: 767px) {
      opacity: 0;
    }
  }

  &.current {
    color: var(--accent-text-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    content: '';

    width: 100%;
    height: 4px;

    background: var(--accent-text-color);
    border-radius: 2px;

    opacity: 0;

    transition-property: opacity;
    transition-duration: var(--time-transition);
    transition-timing-function: var(--function-transition);
  }
}
