
.portfolio_filter {
  background-color: var(--background-section-two);
  padding-top: 90px;
}




.filter__list {
  // margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // gap: 8px;


  @media screen and (min-width: $tablet) {
   justify-content: center;
  } 
}

.filter__item:not(:last-of-type) {
  margin-right: 8px;
}

.filter__button {

  width: auto;
  height: 38px;

  padding: 6px 25px;
  margin-bottom: 15px;
  

  @media  screen and (min-width: $tablet) {
  margin-bottom: 0;
  }

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  color: var(--headers-text-color);
  background-color: #f5f4fa;

  box-shadow: none;

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    color: #fff;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
