.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__group-title {
  padding-top: 0;

  @media screen and (max-width: 767px) {
    font-size: 24px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 28px;
  }
}

.portfolio__item {
  position: relative;

  width: 100%;

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__overlay-text,
  &:focus .portfolio__overlay-text {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio__overlay-box {
  position: relative;

  width: 100%;
  height: 294px;

  overflow: hidden;
}

.portfolio__overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  display: flex;
  align-items: center;

  padding: 0 24px;

  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--portfolio-overlay-text-color);

  transform: translateY(101%);
  opacity: 0;

  transition-property: opacity, transform;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.portfolio__client-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--headers-text-color);

  margin-bottom: 4px;
}

.portfolio__box-two {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio__chapter {
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
