/* Center website */
.portfolio__facades {
  padding-top: 185px;
}

.portfolio__facades p {
  text-align: center;
}

.portfolio__facades h4 {
  text-align: center;
}

.portfolio__header-fixed {
  // display: block;
  // width: 100%;
  position: fixed;
  top: 0;
  left: 15px;
  // transform: translate(-50%, 0);

  padding-top: 90px;
}

.portfolio__header-fixed h2 {

  margin-bottom: 15px;
}


.main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .main h2 {
    padding: 0;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }



  .facades__filter {
   
    margin-left: auto;
    margin-right: auto;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;

  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    // width: 33.33%;
    width: 100%;
    display: none; /* Hide all elements by default */

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  
  @media only screen and (min-width: 768px) {
    width: calc(100% / 3);
  } 

  @media only screen and (min-width: 1200px) {
    width: calc(100% / 4);
  } 
}


  
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;


  }


  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    // border: none;
    // outline: none;
    // padding: 12px 16px;
    // background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }