/* Center website */
.portfolio__facades {
  padding-top: 120px;
}

.portfolio__header-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  padding-top: 100px;
}


.main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }

  .facades__filter {
   
    margin-left: auto;
    margin-right: auto;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;

  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    // width: 33.33%;
    width: 100%;
    display: none; /* Hide all elements by default */

  
  @media only screen and (min-width: 768px) {
    width: calc(100% / 3);
  } 

  @media only screen and (min-width: 1200px) {
    width: calc(100% / 4);
  } 
}

  
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }


  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    // border: none;
    // outline: none;
    // padding: 12px 16px;
    // background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }