.section__ral-colors {
    padding-top: 90px;
}

.section__ral-colors p {
    margin: 15px 0;
}

.ral_colors {
    margin-left: auto;
    margin-right: auto;
}

    .ral_colors tr {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .03em;

    margin-left: auto;
    margin-right: auto;
    
    }