:root {
  /* ===== fonts ===== */
  --first-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;

  /* ===== fonts color ===== */

  --primary-text-color: #757575;
  --accent-text-color: #2196f3;

  --headers-text-color: #212121;

  --button-text-color-one: #fff;

  --mission-label-text: #fff;

  --footer-titles-color: #fff;

  --portfolio-overlay-text-color: #fff;

  /* ===== BG colors ===== */

  --background-body: #fff;



  --background-section-one: #fff;
  --background-section-two: #f5f4fa;


  --background-color-hero: #c4c4c4;
  --background-footer: #2f303a;

  --background-hero-modal: #ffffff;

  /* ===== hero & footer button colors ===== */

  // --button-background-color: #2196f3;
  --button-background-color: #2f303a;

  // --button-hover-color: #188ce8;
  // --button-active-color: #188ce8;

  --button-hover-color: #757575;
  --button-active-color: #188ce8;

  --modal-close-btn-color: #ffffff;

  /* ===== logo color ===== */

  --logo-color-one: #2196f3;
  --logo-color-two: #000000;
  --logo-color-three: #fff;

  /* ===== hero gradient colors ===== */

  --hero-gradient-color-one: rgba(47, 48, 58, 0.4);
  --hero-gradient-color-two: rgba(47, 48, 58, 0.4);

  /* ===== fil svg icons color ===== */

  --fill-svg-icons: #afb1b8;
  --fill-footer-socials: #fff;

  /* ===== transition propertys ===== */

  --time-transition: 250ms;
  --function-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --delay-transition: 100ms;

  --transition-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* ===== other ===== */

  --zindex-header: 500;
  --zind-hero-modal: 1000;
}

// ==== BreakPoints =====

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
