.mission-section {
  background-color: var(--background-section-two);
  padding-top: 90px;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
  }
}

.mission-section h2 {

  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
 
    font-size: 28px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}


.mission__about {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: justify;
    columns: 2 400px;
    // column-gap: 60px;
  }
}

.mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px

  
}

.mission__item {
  // display: block;
  // width: calc((100% - 90px) / 4);

  &--position {
    position: relative;
  }



  // &:not(:nth-child(4n)) {
  //   margin-right: 30px;
  // }


// =====================



  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
 
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
  }
}

// === margin right ===

// .mission__item:not(:nth-child(2n)) {
//   @media screen and (min-width: $tablet) {
//     margin-right: 30px;
//   }
// }

// .mission__item:not(:nth-child(4n)) {
//   @media screen and (min-width: $desktop) {
//     margin-right: 30px;
//   }

// =====================





.mission__label {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--mission-label-text);
  background: rgba(47, 48, 58, 0.7);
}
