.mission-section {
  // margin-top: 60px;
  padding-top: 0x;

  background-color: var(--background-section-two);

  // display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px

  
}

.mission__item {
  // display: block;
  // width: calc((100% - 90px) / 4);

  &--position {
    position: relative;
  }



  // &:not(:nth-child(4n)) {
  //   margin-right: 30px;
  // }


// =====================



  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
  }
}

// === margin right ===

// .mission__item:not(:nth-child(2n)) {
//   @media screen and (min-width: $tablet) {
//     margin-right: 30px;
//   }
// }

// .mission__item:not(:nth-child(4n)) {
//   @media screen and (min-width: $desktop) {
//     margin-right: 30px;
//   }

// =====================





.mission__label {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--mission-label-text);
  background: rgba(47, 48, 58, 0.8);
}
