.soc-networks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.soc-networks {
  display: none;
  margin-bottom: 30px;
}

.soc-networks__item:not(:last-child) {
  margin-right: 10px;
}

.soc-networks__link {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--fill-svg-icons);

  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.soc-networks__img {
  fill: currentColor;
}

.soc-networks__link:hover,
.soc-networks__link:focus {
  background-color: var(--accent-text-color);
  color: #fff;
}
